body {
    background-color: beige;
    font-family: "Calistoga", serif;
    transition: all 0.2s;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

h1 span {
    display: inline-block;
    transform: rotate(-15deg);
    background-color: rgb(172, 255, 188);
    border-radius: 5px;
    padding: 5px;
    margin: 8px;
    box-shadow: 3px 3px 0 #000;
}

form {
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 7px 7px black;
    max-width: 600px;
}

form .input-div {
    width: 320px;
    /* display: inline-block; */
    margin: 10px auto;
}

form button {
    width: 100%;
    max-width: 600px;
    background-color: #005488;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Calistoga", serif;
}

.score-div {
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 7px 7px black;
    max-width: 600px;
}

.score {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 20px;
}

#game {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

#game div {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    width: 12%;
    height: 120px;
    margin: 10px;
    display: inline-block;
    background-color: white;
    box-shadow: 4px 4px black;
}

#game div:hover {
    box-shadow: 7px 7px black;
}

#game div[data-revealed="true"] {
    border: 2px solid black;
    box-shadow: none;
}
